.env
*.pyc
__pycache__
.pytest_cache/
.DS_Store
.idea/

# Anserini index
anserini/
api/index/

# TensorFlow SavedModel
*.pb
variables/

# Logs
*.log*
*.log.*
*.out

.vscode

# client builds
build/
static/

# virtual environments
venv/
env/